.container {
    margin: 0 110px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
        span {
         background: linear-gradient(to left, #6318dd, #d03be8); 
        background-clip: text;
        color: transparent;
        } 
    ul {
        display: flex;
        list-style: none;
        li {
            margin-right: 29px;
            font-family: "Inter";
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
    }
}